body{
    font-family: Arial;
    overflow-x: hidden;
}

.button{
    padding: 6px 13px;
    border-radius: 20px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*HEADER*/

/*top-header*/
section#top-header{
    width: 100%;
    height: 34px;
    background-color: black;
    text-align: right;
    line-height: 34px;
    padding-right: 4px;
}

section#top-header img{
    height: 15px;
}

/*bottom-header*/
section#bottom-header{
    font-family: Helvetica;
}

#bottom-header a:hover{
    color: blue
}

#bottom-header .fas:hover{
    color: blue;
}

/*nav-right*/
section#bottom-header .fas{
    font-size: 11px;
    margin-left: 3px;
    color:gray;
}

/*nav-right*/
#color-btn-1{
    background-color: #373b3f;
    color: white;
    padding: 8px 14px;
}

/*JUMBOTRON*/
section#jumbotron{
    width: 100%;
    height: 673px;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding: 0px;
    background-image: url(../img/jumbo-bg.png);
}

section#jumbotron button{
    color: white;
    background-color: orangered;
    padding: 7px 13px;
    border-radius: 90px;
    border: none
}

/*MAIN*/

/*game-cards*/
section#game-cards{
    width: 100%;
}

section#game-cards img{
    border-radius: 14px;
}

.border-style:hover{
    border-radius: 18px;
    border: 2px solid blue;
    padding: 3px;
    box-shadow: 3px 5px rgba(0,0,0,0.6);
}

/*ps5-products*/
section#ps5-products{
    margin-top: 50px;
}

.hover:hover{
    border-bottom: 2px solid blue;
}

#special-btn-1{
    color: white;
    background-color: #0d6efd;
}

#special-btn-1:hover{
    background-color: blue;
}

/*JUMBOTRON-2*/
section#jumbotron-2{
    width: 100%;
    height: 953px;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding: 0px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    position: relative;
}

#jumbotron-2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

section#jumbotron-2 button{
    color: white;
    background-color: orangered;
    padding: 7px 13px;
    border-radius: 90px;
    border: none
}

/*new-game-section*/
section#new-game-section{
    background-color: #333333;
    width: 100%;
}

/*Ps4-section*/
section#ps4-section{
    background-color: white;
    width: 100%;
}

/*ps-plus-banner*/
section#ps-plus-banner{
    width: 100%;
    background-color: #bebcbb;
}

/*sezione-sconti-ps-store*/
section#discounts-section{
    width: 100%;
}

/*ps-now-banner*/
section#ps-now-banner{
    width: 100%;
    background-color: #161c3b;
}

/*SOCIAL-MEDIA-BANNER*/
section#social-media-banner{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

section .my-cards-container{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    gap: 2.5%;
    justify-content: space-between;
    margin-top: 57px;
}

section .my-cards-container .social-cards{
    width: calc(90% / 4);
}

.social-cards img{
    width: 100%;
}

/*FOOTER*/
footer{
    background-color: blue;
    width: 100%;
}

footer ul{
    list-style: none;
    line-height: 30px;
}

a:hover{
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

#logo-sny-size{
    height: 63px;
}

#icon-size{
    height: 17px;
    margin-right: 6px;
}

footer #size{
    font-size: 0.89em;
}

#logo-sie-size{
    height: 48px;
}