body{
    font-family: Arial;
}

.button{
    padding: 6px 13px;
    border-radius: 20px;
    border: none;
}

/*HEADER*/

/*top-header*/
section#top-header{
    width: 100%;
    height: 40px;
    background-color: black;
    text-align: right;
    line-height: 40px;
    padding-right: 10px;
}

section#top-header img{
    height: 15px;
}

/*bottom-header*/
section#bottom-header{
    font-family: Helvetica;
}

/*nav-right*/
section#bottom-header .fas{
    font-size: 11px;
    margin-left: 3px;
    color:gray;
}

/*nav-right*/
#color-btn-1{
    background-color: #373b3f;
    color: white;
    padding: 8px 14px;
}

/*JUMBOTRON*/
section#jumbotron{
    width: 100%;
    height: 673px;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding: 0px;
    background-image: url(../img/jumbo-bg.png);
}

section#jumbotron button{
    color: white;
    background-color: orangered;
    padding: 7px 13px;
    border-radius: 90px;
    border: none
}

/*MAIN*/

/*game-cards*/
section#game-cards{
    width: 100%;
}

section#game-cards img{
    border-radius: 18px;
}

/*ps5-products*/
section#ps5-products{
    margin-top: 50px;
}

/*JUMBOTRON-2*/
section#jumbotron-2{
    width: 100%;
    height: 953px;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding: 0px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

section#jumbotron-2 button{
    color: white;
    background-color: orangered;
    padding: 7px 13px;
    border-radius: 90px;
    border: none
}

/*new-game-section*/
section#new-game-section{
    background-color: #333333;
    width: 100%;
}