body{
    font-family: Arial;
}

.button{
    padding: 6px 13px;
    border-radius: 20px;
}

/*HEADER*/

/*top-header*/
section#top-header{
    width: 100%;
    height: 40px;
    background-color: black;
    text-align: right;
    line-height: 40px;
    padding-right: 10px;
}

section#top-header img{
    height: 15px;
}

/*bottom-header*/
section#bottom-header{
    font-family: Helvetica;
}

/*nav-right*/
section#bottom-header .fas{
    font-size: 11px;
    margin-left: 3px;
    color:gray;
}

/*nav-right*/
#color-btn-1{
    background-color: #373b3f;
    color: white;
    padding: 6px 13px;
}

/*JUMBOTRON*/
section#jumbotron{
    background-color: black;
    width: 100%;
    height: 673px;
    background-position-x: center;
    background-repeat: no-repeat;
    padding: 0px;
    background-image: url(../img/jumbo-bg.png);
}

section#jumbotron button{
    color: white;
    background-color: orangered;
    padding: 7px 13px;
    border-radius: 90px;
    border: none
}

/*MAIN*/

/*game-cards*/
section#game-cards{
    width: 100%;
    height: 500px;
    background-color: powderblue;
}